[Unit]
Description=ocr detect and upload
After=multi-user.target
[Service]
ExecStart=/bin/bash /home/ubuntu/github/ocr/pi/startOCR.sh
User=root
[Install]
WantedBy=multi-user.target